language: php
php:
    - 7.0

env:
    - LIBMEMCACHED_VERSION=1.0.17
    - LIBMEMCACHED_VERSION=1.0.16
    - LIBMEMCACHED_VERSION=1.0.15
    - LIBMEMCACHED_VERSION=1.0.14
    - LIBMEMCACHED_VERSION=1.0.10
    - LIBMEMCACHED_VERSION=1.0.8
    - LIBMEMCACHED_VERSION=1.0.7
    - LIBMEMCACHED_VERSION=1.0.6
    - LIBMEMCACHED_VERSION=1.0.2
    - LIBMEMCACHED_VERSION=0.53
    - LIBMEMCACHED_VERSION=0.49
    - LIBMEMCACHED_VERSION=0.44

services:
  - memcached # will start memcached

before_script:
    - ./.travis/travis.sh before_script $LIBMEMCACHED_VERSION

script:
    - ./.travis/travis.sh script $LIBMEMCACHED_VERSION
